
<script type="text/javascript">
    window.initialData = <%- JSON.stringify(initialData) -%>;
</script>

<%- include('header') -%>

<div id='container'><%- initialMarkup -%></div>

<%- include('footer') -%>
